@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

main{
    height: 100%;
    width: 100%;
    padding: 0 2vmax;
}

main section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section p{
    font-size: 2.5vmax;
    font-weight: 500;
}